h1 {
    text-align: center;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-size: 1.7em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
    border: 0.2em solid purple;
    font-size: 1.5em;
    text-align: center;
    list-style-type: none;
}

.logo,
.dbzafb1,
.volumes,
.dbanime,
.dbzanime,
.dbgtanime,
.dbsanime,
.dbshanime,
.dbfz {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    background-color: purple;
}

nav a {
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 1em;
}

nav a:hover {
    background-color: rgb(60, 0, 56)
}

header {
    background-color: orange;
    margin: -1em;
    padding: 0em;
}

.dbmanime {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60em;
}

footer {
    background-color: orange;
    margin: -1em;
}


.dbb1,
.dbb2,
.dbb3,
.dbx,
.dbx2 {
    width: 20em;
}


.goku,
.vegeta,
.krillin,
.gohan,
.bulma,
.shenron,
.beerus,
.frieza {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}

