h1{
    text-align: center;
}

p{
    text-align: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.dbzafb1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.navbar ul{
list-style-type: none;
background-color: rgb(104, 5, 180);
padding: 0px;
margin: 0px;
overflow: hidden;
}

.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(196, 129, 3)
}

.navbar li{
    float: left;
}


body{
    background-color: orange;
}

